[flake8]

max-line-length = 120

ignore =
  E401,
  # Multiple imports on the same line

  E501,
  # Even @ 120, long lines are okay without a perpetuating `#noqa` at the end


exclude =
  .git,
  __pycache__,
  tmp,
  build,
  dist
