[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"

[dev-packages]
carson = {editable = true, path = "."}
setuptools-scm = {extras = ["toml"], version = ">=7.1"}
rope = "*"
yapf = "*"
flake8 = "*"
twine = "*"

[scripts]
build = "python -m pip wheel --no-deps --wheel-dir dist ."

[requires]
python_version = "3"
