[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"

[dev-packages]
carson = {editable = true, path = "."}
setuptools-scm = {extras = ["toml"], version = ">=7.1"}
flake8 = "*"
rope = "*"
yapf = "*"
twine = "*"

[requires]
python_version = "3"

[jwt]
pyjwt = "*"
cryptography = "*"
